# Sakila DVD Rental â€“ Exploratory Data Analysis (EDA)

- This notebook contains exploratory data analysis and visualizations based on the Sakila DVD rental database.
- It is constructed to answer business questions requested by management using SQL (DuckDB) and Python (Pandas).

In [1]:
import duckdb
import pandas as pd
import matplotlib.pyplot as plt

# Connect to DuckDB
conn = duckdb.connect("data/sakila.duckdb")

## Task 1a  
### Which movies are longer than 3 hours (180 minutes)?

In [3]:
query = """
SELECT
    title,
    length
FROM staging.film
WHERE length > 180
ORDER BY length DESC
"""
df_long_movies = conn.execute(query).df()
df_long_movies

                 title  length
0         WORST BANGER     185
1        CHICAGO NORTH     185
2       CONTROL ANTHEM     185
3       DARN FORRESTER     185
4    SWEET BROTHERHOOD     185
5          GANGS PRIDE     185
6            HOME PITY     185
7   SOLDIERS EVOLUTION     185
8         POND SEATTLE     185
9        MUSCLE BRIGHT     185
10     MOONWALKER FOOL     184
11      THEORY MERMAID     184
12   CONSPIRACY SPIRIT     184
13    CRYSTAL BREAKING     184
14      SORORITY QUEEN     184
15      SONS INTERVIEW     184
16     SMOOCHY CONTROL     184
17      KING EVOLUTION     184
18      YOUNG LANGUAGE     183
19       SCALAWAG DUCK     183
20      FRONTIER CABIN     183
21       CATCH AMISTAD     183
22           WIFE TURN     183
23       MONSOON CAUSE     182
24       RECORDS ZORRO     182
25          REDS POCUS     182
26         SATURN NAME     182
27      SEARCHERS WAIT     182
28     BAKED CLEOPATRA     182
29       LOVE SUICIDES     181
30      LAWLESS VISION     181
31  RUNAWAY TENENBAUMS     181
32       JACKET FRISCO     181
33      INTRIGUE WORST     181
34     HOTEL HAPPINESS     181
35    HAUNTING PIANIST     181
36      STAR OPERATION     181
37         WILD APOLLO     181
38    ANALYZE HOOSIERS     181

## Task 1b  
### Which movies have the word "love" in the title?

In [4]:
query = """
SELECT
    title,
    rating,
    length,
    description
FROM staging.film
WHERE REGEXP_MATCHES(LOWER(title), '\\blove\\b')
"""
df_love_movies = conn.execute(query).df()
df_love_movies

,title,rating,length,description
0,GRAFFITI LOVE,PG,117,A Unbelieveable Epistle of a Sumo Wrestler And...
1,IDAHO LOVE,PG-13,172,A Fast-Paced Drama of a Student And a Crocodil...
2,INDIAN LOVE,NC-17,135,A Insightful Saga of a Mad Scientist And a Mad...
3,LAWRENCE LOVE,NC-17,175,A Fanciful Yarn of a Database Administrator An...
4,LOVE SUICIDES,R,181,A Brilliant Panorama of a Hunter And a Explore...

## Task 1c  
### Descriptive statistics for movie length giving us shortest, longest, mean and median

In [5]:
query = """
SELECT
    MIN(length) AS shortest_movie,
    AVG(length) AS average_movie,
    MEDIAN(length) AS median_movie,
    MAX(length) AS longest_movie
FROM staging.film
"""
df_length_stats = conn.execute(query).df()
df_length_stats

   shortest_movie  average_movie  median_movie  longest_movie
0              46        115.272         114.0            185